CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
oops
vader
saber
ufo
ufo-data
ioda
ioda-data
crtm
cam-jedi
test-data-release
